// FiberServerOptions provides options for the Fiber server.
type FiberServerOptions struct {
    BaseURL string
    Middlewares []MiddlewareFunc
}

// RegisterHandlers creates http.Handler with routing matching OpenAPI spec.
func RegisterHandlers(router fiber.Router, si ServerInterface) {
  RegisterHandlersWithOptions(router, si, FiberServerOptions{})
}

// RegisterHandlersWithOptions creates http.Handler with additional options
func RegisterHandlersWithOptions(router fiber.Router, si ServerInterface, options FiberServerOptions) {
{{if .}}wrapper := ServerInterfaceWrapper{
Handler: si,
}

for _, m := range options.Middlewares {
    router.Use(fiber.Handler(m))
}
{{end}}
{{range .}}
router.{{.Method | lower | title }}(options.BaseURL+"{{.Path | swaggerUriToFiberUri}}", wrapper.{{.OperationId}})
{{end}}
}

// RegisterHandlers creates http.Handler with routing matching OpenAPI spec.
func RegisterHandlerVersions(router fiber.Router, si ServerInterface, version string) map[string]map[string]fiber.Handler {
  return RegisterHandlerVersionsWithOptions(router, si, version, FiberServerOptions{})
}

// RegisterHandlerVersions creates http.Handler with routing matching OpenAPI spec.
func RegisterHandlerVersionsWithOptions(
  router fiber.Router, 
  si ServerInterface, 
  version string, 
  options FiberServerOptions) map[string]map[string]fiber.Handler {

    var wrapper = ServerInterfaceWrapper{
        Handler: si,
    }
    for _, m := range options.Middlewares {
      router.Use(fiber.Handler(m))
    }
  
    var apiHandlers = map[string]map[string]fiber.Handler{
    {{range .}}
        fmt.Sprintf("/%s{{.Path}}", version): {
          fmt.Sprintf("/%s{{.Path}}", version): wrapper.{{.OperationId}},
        },
        fmt.Sprintf("/%s{{.Path}}", fibermid.LatestVersion): {
          fmt.Sprintf("/%s{{.Path}}", fibermid.LatestVersion): wrapper.{{.OperationId}},
        },
    {{end}}
    }
    return apiHandlers
}
